#canvasBackground
  border: 1px solid #111111
  z-index: 0
#canvasDrawArea
  z-index: 1
.greenMark
  display: inline-block
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: green

.yellowError
  display: inline-block
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: yellow

.redError
  display: inline-block
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: red

.dangerPicture
  position: fixed
  z-index: 10
  transform: scale(.01)
  transition: transform .5s

.naturalSize
  transform: scale(1)
