.paranja
  width: 100vw
  height: 100vh
  background-color: black
  opacity: 0.9
  position: fixed
  top: 0
  left: 0
  z-index: 1

.userLoginArea
  width: 100vw
  height: 100vh
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  top: 0
  left: 0
  z-index: 10

.userLogin
  background-color: white
  z-index: 20
  padding: 20px
  border-radius: 2px
  display: inline-block
  animation: showLogin .5s linear

@keyframes showLogin
  from
    transform: scale(0) translate(-100vw, -100vh)
  to
    transform: scale(1) translate(0, 0)
