.paranja
  width: 100vw
  height: 100vh
  background-color: black
  opacity: 0.85
  position: fixed
  top: 0
  left: 0
  z-index: 1

.userLoginArea
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  left: 0
  z-index: 10

.userLogin
  background-color: white
  z-index: 20
  padding: 20px
  border-radius: 2px
  display: inline-block
  transform-origin: left bottom
  transform: translate(40vw, 45vh)
  animation: showLogin .2s linear

@keyframes showLogin
  from
    transform: scale(0) translate(0, 0)
  to
    transform: scale(1) translate(40vw, 45vh)
