.canvasControls
  padding: 10px 0 10px 0
.createQuestion.canvasArea
  text-align: center
  position: relative
.createQuestion canvas
  position: absolute
  top: 0
  left: 0
#canvasBackground
  z-index: 0
#canvasDrawArea
  z-index: 1
