.headerArea
  border-bottom: 1px solid grey

.header
  display: inline-block
  text-decoration: none

.header h1
  font-style: italic

.loginArea
  display: inline-block

.loginForm, .loginArea
  float: right
  position: relative

.logoff
  padding-left: 30px
  cursor: pointer
  color: blue

.authFailMessage
  position: absolute
  border: 1px solid red
  background-color: white
  top: 32px
  font-size: 10px
