$font-stack: Helvetica, sans-serif
$header-color: #0f5919
$primary-color: #0b5400
$submit-button-color: #0059D9

body
  font: 100% $font-stack
  color: $primary-color

h1
  margin: 0
  text-decoration: none

a
  cursor: pointer
  text-decoration: none
a:visited
  color: inherit
a:focus
  outline: none

button
  background-color: white
  border: 1px solid grey
button:disabled
  opacity: .3

.hidden
  display: none

.invisible
  opacity: 0
  transition: opacity .2s

.danger
  color: red

.success
  color: green

.container
  padding: 10px 40px 10px 40px

label
  cursor: pointer

button
  cursor: pointer

form span
  padding: 0 10px 0 10px

form input:not([type='submit'])
  height: 26px

form input[type='submit']
  background-color: $submit-button-color
  cursor: pointer
  color: white
  border: none
  padding: 10px
form input[type='submit']:hover
  background-color: black
